.setting{
	margin-left:auto;
	margin-right:auto;
	height:60%;
	width:75%;
}
@media screen and (max-width: 800px) {
	.setting{
		margin-left:auto;
		margin-right:auto;
		height:40%;
		width:70%;
	}

}
@media screen and (max-width: 600px) {
	.setting{
		margin-left:auto;
		margin-right:auto;
		height:25%;
		width:75%;
	}

}