<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Error Info</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico')}}" />
<link rel= "stylesheet" href= "{{ url_for('static',filename='css/index.css')}}">
</head>
   <body>
      <div class = "center">
         <h2>Input Error</h2>
         <p>details: invalid player name: {{pvalue}}, team name: {{tvalue}}</p>
         <a class = "button two" href = "/index">return</a>
      </div>
   </body>
</html>