<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" /> 
	<title>Show Team Data</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico')}}" />
	<link rel= "stylesheet" href= "{{ url_for('static',filename='css/index.css')}}">
</head>
   <body>
      
   	<div class = "center">
      <br>
      <h2>PostgreSQL Teams Data</h2>
      <table>
         <thead>
          <tr>
              <th>Team ID</th>
              <th>Team Name</th>
              <th>Location</th>
              <th>All Star Players</th>
              <th>Number of Champion</th>
          </tr>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["tid"]}}</td>
               <td>{{row["name"]}}</td>
               <td>{{row["location"]}}</td>
               <td>{{row["allstarplayer"]}}</td>
               <td>{{row["numofchampion"]}}</td>
            </tr>
         {% endfor %}
      </table>
      <br>
      <a class = "button two" href = "/index">return</a>
  	</div>
      

   </body>
</html>