<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" /> 
	<title>Show Game Data</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico')}}" />
	<link rel= "stylesheet" href= "{{ url_for('static',filename='css/index.css')}}">
</head>
   <body>
      
   	<div class = "center">
      <br>
      <h2>PostgreSQL Games Data</h2>
      <table>
         <thead>
          <tr>
              <th>Game ID</th>
              <th>Date</th>
              <th>Time</th>
              <th>Host</th>
              <th>Score of Host</th>
              <th>Visitor</th>
              <th>Score of Visitor</th>
          </tr>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["gid"]}}</td>
               <td>{{row["date"]}}</td>
               <td>{{row["time"]}}</td>
               <td>{{row["host"]}}</td>
               <td>{{row["scoreh"]}}</td>
               <td>{{row["visitor"]}}</td>
               <td>{{row["scorev"]}}</td>
            </tr>
         {% endfor %}
      </table>
      <br>
      <a class = "button two" href = "/index">return</a>
  	</div>
      

   </body>
</html>