<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" /> 
	<title>Search Data</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico')}}" />
	<link rel= "stylesheet" href= "{{ url_for('static',filename='css/index.css')}}">
</head>
   <body>
      
   	<div class = "center">
      <br>
      <h2>PostgreSQL Search For Player</h2>
      <br>
       {% for row in rows_player %}
       <!-- {{row}} -->
          <dl>
             <dt>Player Name:&nbsp&nbsp</dt>
             <dd>{{row["pid"]}}</dd>

             <dt>Team Name:&nbsp&nbsp</dt>
             <dd><a id="shift_team">{{row["team"]}}</a></dd>

             <dt>Player SSN:&nbsp&nbsp</dt>
             <dd>{{row["ssn"]}}</dd>

             <dt>Player Birthday:&nbsp&nbsp</dt>
             <dd>{{row["birthday"]}}</dd>

             <dt>Height (in):&nbsp&nbsp</dt>
             <dd>{{row["height_in"]}}</dd>

             <dt>Weight (lb):&nbsp&nbsp</dt>
             <dd>{{row["weight_lb"]}}</dd>

             <dt>position:&nbsp&nbsp</dt>
             <dd>{{row["position"]}}</dd>

             <dt>Salary:&nbsp&nbsp</dt>
             <dd>{{row["salary2018_2019"]}}</dd>

             <dt>Points Per Game:&nbsp&nbsp</dt>
             <dd>{{row["pointspergame"]}}</dd>
          </dl>
       {% endfor %}
       <br>
      <a class = "button two" href = "/index">return</a>
  	</div>
      

   </body>
  <script type="text/javascript">
    var someJavaScriptVar = '{{ rows_player[0]["team"] }}';
    console.log(someJavaScriptVar);
    var shift_team = someJavaScriptVar;
    document.getElementById("shift_team").href='/search_team/'+shift_team;
  </script>
</html>

