<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Show Player Info</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico')}}" />
<link rel= "stylesheet" href= "{{ url_for('static',filename='css/index.css')}}">
</head>
   <body>

      <table border = 1>
         {% for key, value in result.items() %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
         {% endfor %}
      </table>

      <h2><a href = "/index">return</a></h2>

   </body>
</html>